# Datov√° akademie, 2024

---

* [ƒåasov√© ≈ôady](#ƒåasov√©-≈ôady),
    - [√∫vodn√≠ motivace](#√övod),
    - [z√°kladn√≠ objekty](#Z√°kladn√≠-objekty),
    - [indexov√°n√≠ ƒçasov√Ωmi √∫daji](#Indexov√°n√≠-s-ƒçasem),
    - [funkce to_datetime](#Funkce-TO_DATETIME),
    - [funkce date_range](#Funkce-DATE_RANGE),
    - [resampling](#Resampling,-sn√≠≈æen√≠-frekvence),
    - [zp≈ôes≈àov√°n√≠](#Zp≈ôes≈àov√°n√≠-≈ôady),
    - [cviƒçen√≠](#üß†-CVIƒåEN√ç-üß†,-procviƒç-si-ƒçasov√©-≈ôady).


* [V√Ωkonn√© pandy](#V√Ωkonn√Ω-PANDAS),
    - [funkce eval](#Funkce-EVAL),
    - [v√Ωhody eval](#V√Ωkon-EVAL),
    - [funkce query](#Funkce-QUERY),
    - [souhrn k eval a query](#Souhrn-k-EVAL-a-QUERY),
    - [cviƒçen√≠](#üß†-CVIƒåEN√ç-üß†,-procviƒç-si-funkce-EVAL-a-QUERY).

* [Skuteƒçn√© hodnoty](#Skuteƒçn√©-datov√©-sety),
    - [chybƒõj√≠c√≠ √∫daje](#Kolik-mi-chyb√≠-√∫daj≈Ø),
    - [encoding](#Encoding),
    - [nekonzistentn√≠ data](#Nekonzistentn√≠-data),
    - [cviƒçen√≠](#üß†-CVIƒåEN√ç-üß†,-procviƒç-si-pr√°ci-s-chybn√Ωm-datasetem).

In [ ]:
# str, list, tuple
name = "Matous Holinka"
print(name.split()[1])

In [ ]:
first_name = name.split()[0]
last_name = name.split()[1]
print(first_name, last_name, sep='\n')

In [ ]:
name = 'Matous Holinka First'
first_name, last_name = name.split()
print(first_name, last_name, sep='\n')

In [ ]:
names = list()
names.append("Matous")

In [ ]:
print(names)

In [ ]:
print(names)

In [ ]:
names.append("Petr")

In [ ]:
names.insert(0, "Lukas")

In [ ]:
print(names)

In [ ]:
del names[1]

In [ ]:
names.remove("Petr")

In [ ]:
# bool, conditional statement,
age = 10

if age >= 18:
    print('Adult')
else:
    print('Not adult')

In [ ]:
email = 'matous@holinka.com'

# 'c' --> email?
print('c' in email)

In [ ]:
print('C' in email)

In [ ]:
# dict, set
user = ('Matou≈°', 'Holinka', 100, 'matous@holinka.com')
print(user[2])

In [ ]:
user = {'first_name': 'Matou≈°', 'last_name': 'Holinka', 'age': 100, 'email': 'matous@holinka.com'}

In [ ]:
from pprint import pprint
pprint(user)

In [ ]:
print(user['age'])

In [ ]:
print(user['firstName'])

In [ ]:
from collections import namedtuple

In [ ]:
User = namedtuple('first_name', 'last_name')

In [ ]:
user_1 = User(first_name='Matous', last_name='Holinka')

In [ ]:
# for loop, list comprehension
for domain in {'gmail', 'email', 'mail', 'smail'}:
    print(domain)

In [ ]:
letters = 'aBcDEFGhijkL'
capital = list()

In [ ]:
for letter in letters:
    if letter.isupper():
        capital.append(letter)

In [ ]:
print(capital)

In [ ]:
# libraries,

In [ ]:
# functions
data_1 = (1, 11, 111, 2, 22)
data_2 = (1, 11, 111, "2", 22)
data_3 = (1, 11, 111, "two", 22)

# func(data: tuple) -> sum(), calculate the sum of the numerical values ONLY from the given variables

In [ ]:
def calculate_only_numerical_values(given_data: tuple) -> int:
    total = 0
    
    for value in given_data:  # try/except
        if str(value).isnumeric():  # isinstance()
            total = total + int(value)

    return total

In [ ]:
type('s')

In [ ]:
sum(data_2)

In [ ]:
result_1 = calculate_only_numerical_values(data_1)
result_2 = calculate_only_numerical_values(data_2)
result_3 = calculate_only_numerical_values(data_3)

In [ ]:
print(result_1, result_2, result_3, sep='\n')

In [ ]:
'1'.isnumeric()

<br>

#### **üß† OPAKOV√ÅN√ç üß†, vyzkou≈°ej si √∫kol**

*Practice the following steps*

1. Create a `load_csv_file` function that takes one `filepath` parameter. The function must be able to load a **CSV file** and return an object of type `DataFrame`,
2. ..if the user does not provide any argument as `filepath`, the function returns `None`,
3. create a `split column` function that takes one `current df` parameter. Its purpose is to create two `City, street` columns from the specified `City` column (follow the order of the new columns),
4. create a `drop_empty_records` function that takes one `current_df` parameter. Its purpose is **to remove all empty records** from the specified columns of the column `City, street' and return the modified table object,
5. create a `format_date` function that takes one `current_df` parameter. Its purpose is to create a copy of `Formatted_date`, in the format `DD/MM/YYYY`, from the specified column `Date`,
6. create a `calculate_daily_average_temperatures` function that takes one `current_df` parameter. Its purpose is to group the values according to the given days and calculate the average daily maximum and minimum on each day. Then write this value to a new object and return that object,
7. create a `save_results_to_csv` function that needs two parameters `final_data` and `filename`. Its purpose is to write a `DataFrame` object from **final_data** to file **filename**.

In [ ]:
from pandas import DataFrame

new_cities = DataFrame({
    'Index': (1, 2, 3),
    'City': ('Praha,1', 'Brno,2', 'Ostrava,3')
})

In [ ]:
new_cities['City'][2].split(',')

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python

import pandas as pd

def load_csv_file(filepath: str, separator: str = ',') -> pd.DataFrame:
    if not filepath:
        return None
    return pd.read_csv(filepath, sep=separator)


def split_column(current_df: pd.DataFrame,
                 current: str = 'Mƒõsto',
                 target: list = ['Mƒõsto', 'Ulice']) -> pd.DataFrame:
    """
    Split the current column into two separated columns. Also, update the order of the new columns.
    """
    current_df[target] = current_df[current].str.split(',', n=1, expand=True)

    correct_column_order = target + [column for column in current_df.columns if column not in target]
    return current_df[correct_column_order]


def drop_empty_records(current_df: pd.DataFrame,
                       main_columns: list = ['Mƒõsto', 'Ulice']) -> pd.DataFrame:
    """
    If there are empty values in the selected columns, remove the whole record from the DataFrame.
    """
    return current_df.dropna(subset=main_columns)


def format_date(current_df: pd.DataFrame,
                date_column: str = 'Datum') -> pd.DataFrame:
    current_df['Formatted_date'] = pd.to_datetime(current_df[date_column]).dt.strftime('%d/%m/%Y')
    return current_df


def calculate_daily_average_temperatures(current_df: pd.DataFrame) -> pd.DataFrame:
    grouped_records_by_date = current_df.groupby('Formatted_date').agg({
        'Max teplota (¬∞C)': 'mean',
        'Min teplota (¬∞C)': 'mean'
    }).reset_index()

    grouped_records_by_date.columns = ['Formatted_date', 'Pr≈Ømƒõrn√° max teplota (¬∞C)', 'Pr≈Ømƒõrn√° min teplota (¬∞C)']
    grouped_records_by_date.set_index(grouped_records_by_date['Formatted_date'], inplace=True)
    
    return grouped_records_by_date


def save_results_to_csv(filename: str, final_data: pd.DataFrame) -> None:
    grouped.drop('Formatted_date', axis=1).to_csv(sep=';',
                                                  header=True,
                                                  path_or_buf=filename)


if __name__ == '__main__':
    loaded_csv_file = load_csv_file('../exercises/cities.csv')
    splitted_columns = split_column(loaded_csv_file)
    
    without_missing_values = drop_empty_records(splitted_columns)
    update_date_format = format_date(without_missing_vals)

    grouped = calculate_daily_average_temperatures(update_date_format)

    save_results_to_csv('../exercises/average_daily_temperatures.csv', grouped)
```

</details>

<br>

## ƒåasov√© ≈ôady

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.odqbr-09dxxBQjF7x7NyBAHaII%26pid%3DApi&f=1&ipt=5b4a03c1dd38b52108237102ebb350595a5d6ea6a50572f5897ca89fbf5b5445&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

### √övod

---

ƒå√°st *frameworku* byla vyvinuta za √∫ƒçelem **finanƒçn√≠ho modelov√°n√≠**.

Proto je v√≠ce ne≈æ dob≈ôe vybavena sadou n√°stroj≈Ø, kter√© um√≠ pracovat **s daty, ƒçasem a ƒçasov√Ωmi objekty**.

<br>

Uplatnƒõn√≠:
* **Anal√Ωza a predikce**: umo≈æ≈àuje analyzovat v√Ωvoj hodnot v ƒçase a p≈ôedpov√≠dat budouc√≠ trendy nebo sez√≥nn√≠ zmƒõny,
* **Efektivn√≠ manipulace s ƒçasem**: zjednodu≈°uje √∫koly, jako je agregace, interpolace nebo ƒçasov√© posuny,
* **Flexibiln√≠ indexace**: podporuje flexibiln√≠ indexaci ƒçasov√Ωch ≈ôad, co≈æ usnad≈àuje filtrov√°n√≠, ≈ôazen√≠ a v√Ωbƒõr dat,
* **Kompatibilita s dal≈°√≠mi knihovnami**: je kompatibiln√≠ s mnoha dal≈°√≠mi knihovnami pro anal√Ωzu ƒçasov√Ωch ≈ôad, jako je `statsmodels` nebo `scikit-learn`.

<br>

#### Pomoc√≠ standardn√≠ho Pythonu

---

Standardn√≠ v√Ωbavou Pythonu jsou knihovny `datetime`:

In [ ]:
from datetime import datetime

In [ ]:
datetime(year=2023, month=4, day=5)

In [ ]:
type(datetime(year=2023, month=4, day=5))

<br>

Nebo knihovna `dateutil` pro *parsov√°n√≠* datov√Ωch typ≈Ø z r≈Øzn√Ωch **stringov√Ωch zad√°n√≠**:

In [ ]:
from dateutil import parser

<br>

Funkce `parse` zpracuje (*parsuje*) velk√© mno≈æstv√≠ r≈Øzn√Ωch form√°t≈Ø ƒçasu ve `str`:

In [ ]:
date = parser.parse("5th of april, 2024")

In [ ]:
type(parser.parse)

In [ ]:
# parser.parse??

In [ ]:
date.year

In [ ]:
date.month

In [ ]:
date.day

<br>

Kde pomoc√≠ metody `strftime` m≈Ø≈æe≈° vypsat den:

In [ ]:
date.strftime("%A")

In [ ]:
date.strftime("%d/%m/%y")

<br>

#### Pomoc√≠ NUMPY

---

Nƒõkter√© nedostatky uvnit≈ô knihoven `datetime` a `dateutil` vedli ke vzniku sady n√°stroj≈Ø.

Tyto dopl≈àky vznikly pod hlaviƒçkou knihovny `numpy`.

In [ ]:
import numpy
from numpy import array, arange

In [ ]:
date = array('2024-04-05', dtype=numpy.datetime64)

In [ ]:
date

<br>

Pokud pot≈ôebuje≈° pole **n√°sleduj√≠c√≠ch 7 dn√≠**:

In [ ]:
date + arange(7)

<br>

Vzhledem k jednotn√©mu datovu typu v poli pro **numpy** `datetime64` m≈Ø≈æe tento typ operace
prov√°dƒõt mnohem rychleji.

Zat√≠mco knihovna `datetime` tuto optimalizaci nezn√°.

Potom ztr√°c√≠ efektivitu, pokud ƒçasov√© nebo datov√© objekty nab√Ωvaj√≠ na velikosti.

<br>

#### Pomoc√≠ PANDAS

---

Jde o kombinace objekt≈Ø z obou p≈ôedchoz√≠ch podkapitol.

Ty d√°vaj√≠ dohromady to nejlep≈°√≠ prost≈ôedky pro zach√°zen√≠ s ƒçasem.

In [ ]:
from pandas import to_datetime

In [ ]:
date = to_datetime("5th of April, 2023")

In [ ]:
date

In [ ]:
type(date)

In [ ]:
date.strftime("%A")

<br>

### Z√°kladn√≠ objekty

---

V podstatƒõ jde o hlavn√≠ n√°stroj, kter√Ω tato knihovna dovede nab√≠dnout.

Mezi z√°kladn√≠ objekty pro pr√°ci s ƒçasem pat≈ô√≠:
* `Timestamp`, typ (souvisej√≠c√≠ struktura Indexu `DatetimeIndex`),
* `Period`, typ (.. `PeriodIndex`),
* `Timedelta`, typ (.. `TimedeltaIndex`).

<br>

#### Timestamp

---

Z√°kladn√≠ datov√Ω typ do ƒçasov√Ωch ≈ôad.

P≈ôi≈ôazuje pandas√≠ hodnoty k skuteƒçn√©mu konkr√©tn√≠m ƒçasov√©mu okam≈æiku.

In [ ]:
from pandas import Timestamp

In [ ]:
# Timestamp?

In [ ]:
date = Timestamp("2024-05-04")

In [ ]:
Timestamp(year=2023, day=4, month=5)

In [ ]:
type(Timestamp(2023, 5, 4))

Pro zadan√Ω objekt je pot≈ôeba umƒõt specifikovat, kter√° data reprezentuj√≠ jakou **jednotku ƒçasu**:

In [ ]:
date.month

In [ ]:
date.year

<br>

#### Timedelta

---

P≈ôedstavuje rozd√≠l mezi dvƒõma ƒçasov√Ωmi body (rozd√≠l mezi datumy nebo ƒçasy).

Analogicky pracuje ve standardn√≠ knihovnƒõ `datetime.timedelta`:

In [ ]:
datum_1 = Timestamp(year=2024, month=5, day=14, hour=10, minute=00)
datum_2 = Timestamp(year=2024, month=5, day=15, hour=9, minute=00)

In [ ]:
datum_2 - datum_1

In [ ]:
type(datum_2 - datum_1)

In [ ]:
from pandas import Timedelta

In [ ]:
rozdil = Timedelta(days=0, hours=23, minutes=0)

In [ ]:
# Timedelta??

In [ ]:
rozdil

In [ ]:
type(rozdil)

In [ ]:
# Timedelta?

<br>

#### Period

---

Jde o datov√Ω typ, kter√Ω reprezentuje ƒçasov√© obdob√≠ zalo≈æen√© na urƒçit√©m kalend√°≈ôn√≠m pravidle. 

Nen√≠ tedy jako `Timedelta`, kter√Ω pracuje s poƒç√°teƒçn√≠m a koneƒçn√Ωm ƒçasem.


Nejƒçasttƒõji slou≈æ√≠ k reprezentaci obdob√≠ jako rok, mƒõs√≠c, ƒçtvrtlet√≠:

In [ ]:
from pandas import Period

Jeho typick√Ωm p≈ôedpisem je **poƒç√°teƒçn√≠ datum** a *frekvence*:

In [ ]:
Period("2023-04", freq="D")

In [ ]:
Period('2020-01', freq='M')

In [ ]:
type(Period("2023-04", freq="D"))

Pou≈æit√≠ datov√©ho typu `Period` d√°v√° vƒõt≈°√≠ smysl s ƒçetnost√≠:

In [ ]:
import numpy
from pandas import DataFrame, date_range

In [ ]:
tydenni_datumy = {
    'Datum': date_range(start='2024-05-14', periods=12, freq='W'),
    'N√°v≈°tƒõvnost': numpy.random.randint(1, 20, size=12)
}

In [ ]:
tydenni_datumy

In [ ]:
lekce_df = DataFrame(tydenni_datumy)

In [ ]:
lekce_df

In [ ]:
lekce_df['N√°v≈°tƒõvnost'] = lekce_df['Datum'].dt.to_period('M')

In [ ]:
lekce_df

In [ ]:
# P≈ôevod datum≈Ø na mƒõs√≠ƒçn√≠ periodick√Ω index
lekce_df['Mƒõs√≠ƒçnƒõ'] = lekce_df['Datum'].dt.to_period('M')

In [ ]:
# Skupinov√°n√≠ dat podle 'Period' a v√Ωpoƒçet sumy prodej≈Ø pro ka≈æd√Ω mƒõs√≠c  # ERROR
lekce_df['Mƒõs√≠ƒçnƒõ'] = lekce_df.groupby('N√°v≈°tƒõvnost').sum()

In [ ]:
# Skupinov√°n√≠ dat podle 'Period' a v√Ωpoƒçet sumy prodej≈Ø pro ka≈æd√Ω mƒõs√≠c
# mesicni_navstevnost = lekce_df.groupby('Mƒõs√≠ƒçnƒõ').sum()

In [ ]:
mesicni_navstevnost

In [ ]:
print(mesicni_navstevnost)

In [ ]:
mesicni_navstevnost.info()

<br>

### Indexov√°n√≠ s ƒçasem

---

Pomoc√≠ objekt≈Ø ƒçasu m≈Ø≈æe≈° vytvo≈ôit samotn√© **Indexy**.

In [ ]:
from pandas import read_csv

In [ ]:
stocks_df = read_csv('../exercises/eth.csv')

In [ ]:
stocks_df

V uk√°zce jsou jednotliv√© z√°znamy opat≈ôen√© defaultn√≠m **indexem**.

Takov√© indexov√°n√≠, ale nen√≠ √∫plnƒõ praktick√©, proto≈æe vytv√°≈ô√≠ dal≈°√≠ sloupeƒçek.

Pomoc√≠ ƒçasov√Ωch objekt≈Ø knihovny m≈Ø≈æe≈° **indexovat tabulku**:

In [ ]:
stocks_df.set_index('Date', inplace=True)

In [ ]:
stocks_df

Bohu≈æel tento form√°t ƒçasu nen√≠ √∫plnƒõ praktick√Ω. Jednotky ƒçasu `08-PM` a `07-PM` nejsou u n√°s √∫plnƒõ bƒõ≈æn√©.

In [ ]:
# stocks_df['Date'] --> KeyError

In [ ]:
stocks_df['Date']

In [ ]:
stocks_df.reset_index(inplace=True)

In [ ]:
stocks_df

In [ ]:
stocks_df['Date']

In [ ]:
from pandas import to_datetime

In [ ]:
stocks_df['Date'] = to_datetime(stocks_df['Date'],
                                format='%Y-%m-%d %I-%p')

In [ ]:
stocks_df

In [ ]:
today = datetime.now()

In [ ]:
today

In [ ]:
string_today = datetime.strftime(today, format="%d/%m/%Y")

In [ ]:
string_today

In [ ]:
datetime.strptime(string_today, '%d/%m/%Y')

In [ ]:
datetime.strptime?

In [ ]:
stocks_df.set_index('Date', inplace=True)

In [ ]:
stocks_df

P≈ô√≠padnƒõ je mo≈æn√©, nahr√°vat soubory p≈ô√≠mo s p≈ôeveden√Ωm ƒçasov√Ωm typem:

In [ ]:
# read_csv?

In [ ]:
second_stock_df = read_csv('../exercises/eth.csv',
                           parse_dates=['Date'],
                           date_format='%Y-%m-%d %I-%p')

In [ ]:
import pandas

In [ ]:
pandas.__version__

In [ ]:
second_stock_df

`DatetimeIndex` obsahuje ƒçasov√© znaƒçky (*timestamp*), kter√© jsou ulo≈æeny ve form√°tu `datetime64`.

Tento objekt umo≈æ≈àuje potom umo≈æ≈àuje nastavit hodnoty ƒçasu explicitnƒõ:

In [ ]:
from pandas import DatetimeIndex, Series

<br>

Pomocn√Ω objekt typu `tuple`:

In [ ]:
datumy = ("2023-04-05", "2022-04-05", "2021-04-05", "2020-04-05")

In [ ]:
indexy = DatetimeIndex(datumy)

In [ ]:
indexy

In [ ]:
type(indexy[0])

In [ ]:
jmena_dnu = [to_datetime(den).strftime("%A") for den in datumy]

In [ ]:
days = list()

for day in ("2023-04-05", "2022-04-05", "2021-04-05", "2020-04-05"):
    days.append(to_datetime(day).strftime('%A'))

In [ ]:
days

In [ ]:
jme

In [ ]:
hodnoty_sl = Series(jmena_dnu, index=indexy)

In [ ]:
hodnoty_sl

In [ ]:
type(hodnoty_sl)

In [ ]:
type(indexy)

In [ ]:
# hodnoty_sl["2020": "2022"]

In [ ]:
hodnoty_sl["2020-04-05": "2025-04-05"]

<br>

### Funkce TO_DATETIME

---

Nejƒçastƒõj≈°√≠ datov√© typy, kter√© lze zapsat p≈ô√≠mo, ov≈°em bƒõ≈ænƒõj≈°√≠ je pracovat s funkc√≠ `to_datetime`.

Funkce `to_datetime` um√≠ parsovat r≈Øzn√© stringov√© form√°ty.

In [ ]:
from pandas import to_datetime

<br>

#### Pr√°ce s jedn√≠m datumem

---

In [ ]:
datum = to_datetime("05/04/2023", format='%d/%m/%Y')  # str, tuple, datetime.datetime

In [ ]:
# to_datetime?

In [ ]:
datum.month

In [ ]:
type(datum)

Pokud do funkce `to_datetime` vlo≈æ√≠≈° jedinou hodnotu, vrac√≠ objekty typu `Timestamp`.

<br>

#### Specifick√Ω form√°t

---

Pokud se parser ve funkci `to_datetime` ztrat√≠ nebo tvoje zad√°n√≠ neodpov√≠d√° jeho vyhotoven√≠, m≈Ø≈æe≈° zadat form√°t explicitnƒõ:

In [ ]:
vystup = to_datetime("12-11-2010 01:05")

In [ ]:
vystup.day

<br>

V uk√°zce v√Ω≈° ale hodnota `11` p≈ôedstavuje mƒõs√≠c, nikoliv den.

In [ ]:
vystup = to_datetime("12-11-2010 01:05", format="%d-%m-%Y %H:%M")

In [ ]:
vystup.day

In [ ]:
vystup.month

In [ ]:
vystup.year

In [ ]:
vystup.hour

<br>

#### ƒåasov√© z√≥ny

---

Objekt `Timestamp` umo≈æ≈àuje hodnoty ƒçasov√Ωch z√≥n zad√°vat pomoc√≠ metody `tz_localize`:

In [ ]:
datum

In [ ]:
datum.tz

In [ ]:
datum.tz?

In [ ]:
tz_datum = datum.tz_localize("Europe/Prague")

In [ ]:
tz_datum.tz

In [ ]:
nove_tz_datum = tz_datum.tz_convert("US/Pacific")

In [ ]:
nove_tz_datum = tz_datum.tz_convert("Europe/London")

In [ ]:
nove_tz_datum

<br>

#### Pr√°ce s nƒõkolika datumy

---

Stejnƒõ jak um√≠ funkce *parsovat* jednu hodnotu, um√≠ zpracovat pole ƒçasov√Ωch string≈Ø:

In [ ]:
datumy = to_datetime(
    [datetime(2023, 4, 5), "5th of April 2023", "2023-Apr-5", "04-05-2023", "20230405"]
)

In [ ]:
# to_datetime?

In [ ]:
datumy

In [ ]:
type(datumy)

Zat√≠mco pole hodnot s datumy, kter√© funkce `to_datetime` zpracuje, vrac√≠ objekt typu `DatetimeIndex`.

<br>

Objekt `DatetimeIndex` potom m≈Ø≈æe≈° konvertovat na `PeriodIndex` pomoc√≠ *metody* `to_period`:

In [ ]:
datumy.to_period?

<br>

Tato metoda je u≈æiteƒçn√°, pokud chcete p≈ôev√©st ƒçasov√© ≈ôady **na urƒçit√© ƒçasov√© obdob√≠**.

Kdy≈æ bude≈° t≈ôeba pot≈ôebovat p≈ôev√©st hodnoty **z denn√≠ch dat na mƒõs√≠ƒçn√≠ data**.

#### Denn√≠ data

In [ ]:
datumy.to_period("D")

#### Mƒõs√≠ƒçn√≠ data

In [ ]:
datumy.to_period("M")

<br>

#### **üß† OPAKOV√ÅN√ç üß†, vyzkou≈°ej si √∫kol**

*Practice the following steps*

Task Requirements:

1. Create the DataFrame object `timedeltas_df`, with `Start` and `End` columns,
2. Write a *user-defined* function `calculate_duration` that calculates the duration in hours between two datetime values (parameters `start` and `end`,
3. Write a *user-defined* function `create_timedelta_column` that needs parameters `df` and `func_calc` that creates a new column `'Timedelta-hours'` in the given DataFrame object,
5. Apply `create_timedelta_column` function to the DataFrame `timedeltas_df`,
6. Try to add another column `Timedelta-days` to the `timedeltas_df`.

In [ ]:
starts = ('2024-01-01 08:11', '2024-04-02 07:15', '2023-11-09 16:50') 
ends = ('2024-01-01 15:33', '2024-04-04 15:45', '2024-05-14 12:00')

In [ ]:
from pandas import DataFrame, to_datetime

timedeltas_df =  DataFrame({'Start': starts, 'End': ends})

In [ ]:
timedeltas_df

In [ ]:
result = to_datetime('2024-05-14 12:00') - to_datetime('2023-11-09 16:50')

In [ ]:
result.total_seconds()  # Seconds

In [ ]:
hours = result.total_seconds() / 3600

In [ ]:
hours

In [ ]:
def calculate_duration_in_hours(start: str, end: str, divisor: int = 3600):
    return (to_datetime(end) - to_datetime(start)).total_seconds() / divisor

In [ ]:
def calculate_duration_in_days(series, divisor: int = 3600*24):
    return (to_datetime(series.End) - to_datetime(series.Start)).total_seconds() / divisor

In [ ]:
timedeltas_df['Timedelta-hours'] = [
    calculate_duration(start, end)
    for start, end in zip(
        timedeltas_df['Start'],
        timedeltas_df['End']
    )]  # apply(calculate_duration)

In [ ]:
timedeltas_df

In [ ]:
timedeltas_df['Timedelta-days'] = timedeltas_df.apply(calculate_duration_in_days, axis=1)

In [ ]:
timedeltas_df['Timedelta-double'] = timedeltas_df['Timedelta-hours'] / 24

In [ ]:
timedeltas_df

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
from pandas import DataFrame

starts = ('2024-01-01 08:11', '2024-04-02 07:15', '2023-11-09 16:50') 
ends = ('2024-01-01 15:33', '2024-04-04 15:45', '2024-05-14 12:00')

timedeltas_df = DataFrame({'Start': starts,
                           'End': ends})


def create_timedelta_column(df: DataFrame, func_calc: callable):
    df['Timedelta'] = [func_calc(start, end) for start, end in zip(df['Start'], df['End'])]
    return df

    
def calculate_duration(start, end):
    """Calculate the duration in minutes between two datetime objects."""
    start = pd.to_datetime(start)
    end = pd.to_datetime(end)
    return (end - start).total_seconds() / 3600
```

</details>

<br>

#### TimedeltaIndex

---

Jde o rozd√≠l v jednotk√°ch ƒçasu.

Nejƒçastƒõji se s t√≠mto objektem setk√°≈°, pokud pot≈ôebuje≈° z√≠skat **rozd√≠l mezi dvƒõma datumy**.

In [ ]:
datumy

In [ ]:
datumy_ = to_datetime(datumy)

In [ ]:
datumy_

In [ ]:
specialni_datumy = to_datetime([
    datetime(2022, 4, 5), "5th of April 2021", "2020-Apr-5", "05-04-2019"]
)

In [ ]:
datumy_ - specialni_datumy

<br>

### Funkce `date_range`

---

Funkce umo≈æn√≠ vytvo≈ôit nov√Ω interval **datum≈Ø** a **ƒças≈Ø**:

In [ ]:
from pandas import date_range, DataFrame

<br>

Pomoc√≠ **poƒç√°teƒçn√≠ hodnoty**, **periodicky** a **frekvence** z√≠sk√°≈° nov√Ω interval:

In [ ]:
date_range(start='2023-01-01', periods=10, freq='D')

In [ ]:
date_range(start='2023-01-01', periods=10, freq='M')

In [ ]:
data = {
    'date': date_range(start='2022-01-01', periods=10, freq='D'),
    'sales': [100, 102, 105, 107, 110, 112, 115, 117, 120, 122]
}

In [ ]:
data

In [ ]:
df_data = DataFrame(data)

In [ ]:
df_data.head(3)

In [ ]:
df_data.set_index('date', inplace=True)

In [ ]:
df_data.head(3)

In [ ]:
df_period_y = df_data.to_period(freq='M')

In [ ]:
df_period_y

<br>

#### Poƒçet period

---

Nachyst√° objekt, kter√Ω vypracuje tolik period, kter√© definuje≈° pomoc√≠ parametru `periods`:

In [ ]:
date_range(start='2000-01-01', periods=10, freq='Y')

In [ ]:
# date_range?

In [ ]:
datumy_ind = date_range(start="01-01-1992", periods=8)  # defaultnƒõ denn√≠ frekvence

In [ ]:
datumy_ind

<br>

#### Frekvence

---

In [ ]:
datumy_mesicne_ind = date_range("01-01-1992", periods=8, freq="M")

In [ ]:
datumy_mesicne_ind

<br>

### Frekvence

ƒåasovou paletou frekvenc√≠, kterou framework `pandas` nab√≠z√≠ je tato tabulka:

| String | Popisek |
| :-: | :- |
| `D` | kalend√°≈ôn√≠ den |
| `W` | t√Ωden |
| `M` | konec mƒõs√≠ce |
| `Q` | konec ƒçtvrtlet√≠ |
| `A` | konec roku |
| `H` | hodiny |
| `T` | minuty |
| `S` | vte≈ôiny |
| `B` | pracovn√≠ den |
| `BM` | konec pracovn√≠·∏ßo mƒõs√≠ce |
| `BQ` | konec pracovn√≠ho ƒçtvrtlet√≠ |

<br>

#### Hodinov√© periody

---

In [ ]:
from pandas import timedelta_range

In [ ]:
hodinove_ind = timedelta_range(0, periods=12, freq="H")

In [ ]:
hodinove_ind

#### Netradiƒçn√≠ frekvence

---

In [ ]:
timedelta_range(0, periods=10, freq="1H15T")

<br>

### Resampling, sn√≠≈æen√≠ frekvence

---

*Resampling* nebo tak√© *p≈ôevzorkov√°n√≠* je proces, kter√Ω upravuje frekvenci ƒçasov√© ≈ôady.

*Resampling* se obvykle pou≈æ√≠v√° **pro sn√≠≈æen√≠ frekvence** (z hodinov√Ωch dat na denn√≠ data).

*Resampling* zahrnuje *agregaci* dat.

V `pandas` se k tomu pou≈æ√≠v√° metoda `resample`, kter√° m√° jako parametr novou frekvenci, na kterou chcete data p≈ôev√©st:

In [ ]:
from pandas import date_range

In [ ]:
data = {
    'date': date_range(start='2022-01-01', periods=60, freq='D'),
    'sales': range(60)
}

In [ ]:
data

In [ ]:
df_data = DataFrame(data)

In [ ]:
df_data.head()

In [ ]:
df_data.set_index('date', inplace=True)

In [ ]:
df_data

In [ ]:
seskupena_data = df_data.resample('m').sum()

In [ ]:
seskupena_data

<br>

### Zp≈ôes≈àov√°n√≠ ≈ôady

---

Zahrnuje **zv√Ω≈°en√≠ frekvence ƒçasov√Ωch ≈ôad**.

P≈ôiƒçem≈æ se novƒõ vytvo≈ôen√© hodnoty obvykle interpoluj√≠ nebo dopl≈àuj√≠ nƒõjakou konstantou.

V pandas se k zp≈ôes≈àov√°n√≠ pou≈æ√≠v√° metoda `asfreq`, kter√° m√° jako parametr novou frekvenci, na kterou chcete data p≈ôev√©st.

In [ ]:
data = {
    'date': date_range(start='2022-01-01', end='2022-03-01', freq='MS'),  # M - konec mƒõs√≠ce
    'sales': [100, 120, 150]
}

In [ ]:
df_data = DataFrame(data)

In [ ]:
df_data.head()

In [ ]:
df_data.set_index('date', inplace=True)

In [ ]:
df_data.head()

In [ ]:
denni_data = df_data.asfreq('D', method='ffill')

In [ ]:
# df_data.asfreq?

In [ ]:
denni_data.head()

Metoda `asfreq` bere jako parametr novou frekvenci, na kterou chceme data p≈ôev√©st.

V p≈ô√≠padƒõ v√Ω≈°e jde o frekvenci `D`, co≈æ znamen√° **denn√≠ data**.

Proto≈æe p≈ôi zp≈ôes≈àov√°n√≠ se **vytvo≈ô√≠ chybƒõj√≠c√≠ hodnoty** (v d≈Øsledku zv√Ω≈°en√≠ frekvence), je pot≈ôeba zvolit metodu pro jejich doplnƒõn√≠.

V√Ω≈° jde o metodu `forward fill` (parametr `method='ffill'`), kter√° kop√≠ruje p≈ôedchoz√≠ hodnotu pro v√Ωpl≈à chybƒõj√≠c√≠ch hodnot.

Dal≈°√≠ mo≈ænost√≠ je pou≈æ√≠t metodu `'back fill'` (parametr `method='bfill'`), kter√° kop√≠ruje n√°sleduj√≠c√≠ hodnotu pro v√Ωpl≈à chybƒõj√≠c√≠ch hodnot.

<br>

##### **üß† CVIƒåEN√ç üß†, procviƒç si ƒçasov√© ≈ôady**

Analyzuj prodeje produktu ve fiktivn√≠ spoleƒçnosti bƒõhem jednoho roku a zjisti n√°sleduj√≠c√≠:

*Analyze the sales of a product in a fictitious company over a year and find out the following:*


1. Celkov√Ω prodej za ka≈æd√Ω mƒõs√≠c.      *Total sales for each month.*
3. Pr≈Ømƒõrn√Ω prodej za ka≈æd√Ω den v t√Ωdnu. * Average sales for each day of the week.*
4. Denn√≠ prodej za posledn√≠ t√Ωden.  *Daily sales for the last week.*

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
denni_datumy = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
prodeje = np.random.randint(10, 100, size=(len(denni_datumy),))

In [ ]:
data = {
    'Date': denni_datumy,
    'Sales': prodeje
}

In [ ]:
df_prodeje = pd.DataFrame(data)
df_prodeje.set_index('Date', inplace=True)

In [ ]:
df_prodeje

In [ ]:
month_sales = df_prodeje.resample('m').sum()

In [ ]:
month_sales

In [ ]:
df_prodeje['Weekday'] = df_prodeje.index.day

In [ ]:
df_prodeje

In [ ]:
denni_prumer = df_prodeje.groupby('weekday')['Sales'].mean()

In [ ]:
denni_prumer

In [ ]:
df_prodeje.tail(7)

In [ ]:
df_prodeje.loc['2022-12-25':,'Sales'].sum()

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
mesicni_prodej = df_prodeje.resample( 'M' ).sum( )
mesicni_prodej['Mƒõs√≠c'] = mesicni_prodej.index.month_name( )
mesicni_prodej = mesicni_prodej.set_index('Mƒõs√≠c')

df_prodeje['Pracovn√≠ den'] = df_prodeje.index.weekday
denni_prumer = df_prodeje.groupby('Pracovn√≠ den')['Prodej'].mean()

prodej_posledni_vikend = df_prodeje.loc['2022-12-25':, 'Prodej']

#zacatek_posledniho_tydne = df_prodeje.index.max( ) - Timedelta( days = 7 )
#posledni_tyden = df_prodeje[df_prodeje.index > zacatek_posledniho_tydne]
```

</details>

## V√Ωkonn√Ω PANDAS

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.riOR-y2_yu_2cGdEN2e6-wAAAA%26pid%3DApi&f=1&ipt=638c4516d155ff9768066e17887a621cbad0de6bce639a40be98f5dedbce67ac&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

Z p≈ôedchoz√≠ch uk√°zek a popisk≈Ø (seskupov√°n√≠) tedy m≈Ø≈æe≈° ch√°pat, ≈æe skuteƒçn√Ω v√Ωkon *frameworku* tkv√≠ v p≈ôeveden√≠ **z√°kladn√≠ch operac√≠ do jazyka C**.

Tyto abstrakce jsou √∫ƒçinn√© a efektivn√≠ pro mnoho bƒõ≈æn√Ωch p≈ô√≠pad≈Ø pou≈æit√≠.

Vytv√°≈ôej√≠ ale spousty doƒçasn√Ωch objekt≈Ø, co≈æ m≈Ø≈æe zp≈Øsobit nep≈ôimƒõ≈ôenou re≈æii v√Ωpoƒçetn√≠ho ƒçasu a pamƒõti.

<br>

### Funkce `eval` a `query`

---

P≈ô√≠m√Ω p≈ô√≠stup k operac√≠m rychlosti C bez n√°kladn√© alokace `pandas` poskytuje funkce `eval` a `query`.

Ty spoleh√°j√≠ na funkci `numexpr`.

<br>

### Funkce `eval`

---

Dva d≈Øvody, proƒç pou≈æ√≠vat funkci `eval` m√≠sto obyƒçejn√©ho Pythonu:
1. velk√© objekty typu `DataFrame` jsou vyhodnocov√°ny efektivnƒõji,
2. aritmetick√© a logick√© v√Ωrazy projdou nar√°z z√°kladn√≠m enginem (pomoc√≠ `numexpr`).

**Pozor!** Dobr√° obecn√° pom≈Øcka ≈ô√≠k√°, ≈æe nen√≠ nutn√© vyu≈æ√≠vat funkci `eval` pro tabulky, kter√© jsou krat≈°√≠ ne≈æ 10 000 ≈ô√°dk≈Ø.

### Pou≈æit√≠ EVAL

---

Funkce `eval` slou≈æ√≠ k efektivn√≠mu vyhodnocen√≠ **aritmetick√Ωch v√Ωraz≈Ø** na:
* objekty `DataFrame`,
* objekty `Series`.

Jej√≠ nejvƒõt≈°√≠ v√Ωhodou je **rychlost a efektivita**, kter√° spoƒç√≠v√° v minimalizaci pamƒõ≈•ov√© z√°tƒõ≈æe a zrychlen√≠ operac√≠.

Kdy≈æ pracuje≈° **s velk√Ωmi datov√Ωmi sadami**, pamƒõ≈•ov√° z√°tƒõ≈æ a rychlost se st√°vaj√≠ kl√≠ƒçov√Ωmi faktory.

Funkce `eval` optimalizuje v√Ωpoƒçetn√≠ proces t√≠m, ≈æe sni≈æuje mno≈æstv√≠ alokovan√© pamƒõti a zrychluje v√Ωpoƒçetn√≠ operace.

<br>

### Uk√°zka EVAL

---

Pro zadan√Ω *dummy dataset* vytvo≈ô **nov√Ω sloupeƒçek** `sloupec_D`, podle vzoru:
`A + B * C`

In [ ]:
import pandas as pd

In [ ]:
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15]}

In [ ]:
df_data = pd.DataFrame(data)

In [ ]:
df_data.head()

In [ ]:
df_data['sloupec_D'] = df_data['A'] + df_data['B'] * df_data['C']

In [ ]:
df_data.head()

<br>

*Alternativn√≠ zp≈Øsob*, jak prov√©st stejn√Ω v√Ωpoƒçet, pokud m√°≈° dlouhou tabulku nebo sloupeƒçek, je pou≈æit√≠ funkce `eval`:

In [ ]:
df_data['sloupecek_D'] = df_data.eval('A + B * C')

In [ ]:
df_data.head()

In [ ]:
from pandas import eval as ev

In [ ]:
# ev?

<br>

Funkce `eval` zpracov√°v√° zadan√Ω `str` podobnƒõ jako built-in funkce `eval`.

Souhrnnƒõ lze ≈ô√≠ci:
* funkci `eval` pou≈æij tehdy, pokud je [dataset dlouh√Ω](https://pandas.pydata.org/pandas-docs/stable/user_guide/enhancingperf.html#pandas-eval-performance),
* ve v≈°ech ostatn√≠ch sc√©n√°≈ô√≠ch, kde nepot≈ôebuje≈° ≈°et≈ôit pamƒõt a ƒças pou≈æij klasickou syntaxi.

### V√Ωkon EVAL

---

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
pocet_radku, pocet_sloupcu = 1_000_000, 100

In [ ]:
rng = np.random.RandomState()

In [ ]:
dframe_1, dframe_2, dframe_3, dframe_4 = [DataFrame(rng.rand(pocet_radku, pocet_sloupcu)) for _ in range(4)]

In [ ]:
dframe_1.head()

#### Uk√°zka sƒç√≠t√°n√≠ hodnot tabulek

---

In [ ]:
from pandas import DataFrame

In [ ]:
df1 = DataFrame({"A": [1, 2], "B": [3, 4]})

In [ ]:
df2 = DataFrame({"A": [2, 3], "B": [1, 2]})

In [ ]:
df1 + df2

In [ ]:
from pandas import eval as ev

In [ ]:
ev?

In [ ]:
%timeit dframe_1 + dframe_2 + dframe_3 + dframe_4

In [ ]:
%timeit ev("dframe_1 + dframe_2 + dframe_3 + dframe_4", engine="numexpr")  # bez engine="numexpr"

In [ ]:
!pip install numexpr

In [ ]:
# 1.10 s

In [ ]:
# pd.eval?

<br>

### Funkce QUERY

---

Funkce `query` slou≈æ√≠ k efektivn√≠mu **filtrov√°n√≠ ≈ô√°dk≈Ø**.

Filtrov√°n√≠ prob√≠h√° na z√°kladƒõ **zadan√© podm√≠nky**.


Hlavn√≠ v√Ωhodou jsou:
* **snadn√° ƒçitelnost**, umo≈æ≈àuje zapisovat podm√≠nky ve snadno ƒçiteln√© formƒõ, zejm√©na v p≈ô√≠padƒõ slo≈æitƒõj≈°√≠ch dotaz≈Ø,
* **rychlost**, m≈Ø≈æe b√Ωt rychlej≈°√≠ ne≈æ tradiƒçn√≠ metody filtrov√°n√≠,(zejm√©na pro velk√© datov√© sady).

### Uk√°zka QUERY

---

Pro zadan√Ω *dummy dataset* vyfiltruj takov√© z√°znamy, kde:
1. Hodnoty ze sloupce A budou **men≈°√≠ ne≈æ 4**,
2. hodnoty ze sloupce B budou **vƒõt≈°√≠ ne≈æ 6**,
3. hodnoty ze sloupce C budou **vƒõt≈°√≠ ne≈æ 11**.

In [ ]:
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': [11, 12, 13, 14, 15],
        'D': ["AA", "BB", "CC", "DD", "EE"]
}

In [ ]:
df_data = DataFrame(data)

In [ ]:
df_data

In [ ]:
df_filtrovane = df_data[(df_data['A'] < 4) & (df_data['B'] > 6) & (df_data['C'] > 11)]  # & - and, | - or

In [ ]:
df_filtrovane

Zapisov√°n√≠ pomoc√≠ *boolean indexov√°n√≠* je ov≈°em n√°roƒçn√© jak pro z√°pis, tak pro ƒçten√≠.

<br>

Pomoc√≠ funkce `query`:

In [ ]:
df_filtrovane = df_data.query('A < 4 and B > 6 and C > 11')

In [ ]:
df_filtrovane

#### WHERE 'D' LIKE 'CC'

---

In [ ]:
df_filtrovane_str = df_data.query(
    "A < 4 and B > 6 and C > 11 and D.str.contains('CC')"
)  # LIKE

In [ ]:
df_filtrovane_str

In [ ]:
df_filtrovane_str = df_data.query(
    "A < 4 and B > 6 and C > 11 and ~D.str.contains('CC')"
)  # NOT LIKE

In [ ]:
df_filtrovane_str

#### column_a NOT IN []

---

In [ ]:
"A not in [1, 2]"

In [ ]:
"A < 4 and B > 6 and C > 11 and D in ('AA', 'CC')"

<br>

### Nedostatky QUERY

---

1. **Omezen√° syntaxe**, m√° omezenƒõj≈°√≠ syntaxi ve srovn√°n√≠ s bƒõ≈æn√Ωm z√°pisem v Pythonu a nemus√≠ podporovat [v≈°echny operace](https://pandas.pydata.org/pandas-docs/stable/user_guide/enhancingperf.html#eval-examples),
2. **N√°zvy sloupc≈Ø**, pokud n√°zvy sloupc≈Ø obsahuj√≠ **mezery nebo znaky**, mus√≠≈° je uv√©st pomoc√≠ backtick≈Ø a pou≈æ√≠t symbol `@` pro reference na promƒõnn√© mimo `DataFrame`.

In [ ]:
df_cisla = DataFrame({'Sloupec 1': [1, 2, 3, 4, 5], 'Sloupec 2': [10, 20, 30, 40, 50]})

In [ ]:
df_cisla

In [ ]:
# vystup_1 = df_cisla.query('Sloupec 1 < 3')

In [ ]:
limit = 3

In [ ]:
vystup_2 = df_cisla.query('`Sloupec 1` < @limit')

In [ ]:
vystup_2

### Souhrn k EVAL a QUERY

---

Hlavn√≠m √∫ƒçelem tƒõchto funkc√≠ je aplikace na skuteƒçnƒõ **velk√© datov√© sety**.

Rozd√≠ly u drobnƒõj≈°√≠ch dataset≈Ø **jsou ƒçasto minim√°ln√≠**.

Velk√Ω vliv na v√Ωstupn√Ω ƒças dƒõl√° parametr `engine`, kter√Ω se sna≈æ√≠ pracovat s knihovnou `numexpr`.

<br>

#### **üß† CVIƒåEN√ç üß†, procviƒç si funkce EVAL a QUERY**

Analyzuj prodeje produktu ve fiktivn√≠ spoleƒçnosti bƒõhem jednoho roku a zjisti n√°sleduj√≠c√≠:
1. Vyber studenty s vƒõkem **mezi 20 a 22 lety (vƒçetnƒõ)** a email, kter√Ω obsahuje string **gmail.com**,
2. vypoƒçtƒõte *BMI* (Body Mass Index) pro ka≈æd√©ho studenta a p≈ôidejte ho do nov√©ho sloupce (vzorec: *v√°ha[kg] / (v√Ω≈°ka[m] * v√Ω≈°ka[m])*)
3. vyberte studenty s BMI **vy≈°≈°√≠m ne≈æ 22** a kte≈ô√≠ **poch√°z√≠ z mƒõst Brno a Praha**.

In [ ]:
from pandas import DataFrame

uzivatele = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [19, 20, 21, 22, 23],
    'Height_cm': [160, 170, 175, 180, 165],
    'Weight_kg': [50, 65, 70, 80, 55],
    'Email': ["alice@gmail.com", "bob@tech-users.com", "charlie91@mail.com", "david_bB@gmail.com", "eevee@my_domain.net"],
    'Address': [
        "Vrbov√° 215/14, 602 00, Brno, ƒåesk√° republika",
        "Jilmov√° 862, 400 11, √öst√≠ nad Labem, ƒåesk√° republika",
        "Kamenick√° 37/2, 170 00, Praha, ƒåesk√° republika",
        "Podlipn√° 1284/6, 460 01, Liberec, ƒåesk√° republika",
        "Havl√≠ƒçkova 1703, 500 02, Hradec Kr√°lov√©, ƒåesk√° republika"
    ]
}

df_uzivatele = DataFrame(uzivatele)

In [ ]:
df_uzivatele

In [ ]:
# √ökol 1
vybrani_uzivatele_1 = df_uzivatele.query( 
    "Age.between( 20, 22 ) and Email.str.contains( 'gmail.com' )" 
)

In [ ]:
# √ökol 2
df_uzivatele['BMI'] = df_uzivatele.eval( 
    'Weight_kg / ( ( Height_cm / 100 ) ** 2 )' 
)

In [ ]:
df_uzivatele

In [ ]:
# √ökol 3
vybrani_uzivatele_2 = df_uzivatele.query( 
    "BMI > 22 and Address.str.split( ', ', expand = True )[2].isin( ['Praha', 'Brno'] )" 
)

In [ ]:
df_uzivatele.query( 
    "BMI > 22")

In [ ]:
df_uzivatele["Address"].str.split(", ", expand=True)[2].isin({"Praha", "Brno"})

In [ ]:
df_uzivatele["Address"].str.split(", ", expand=True)[2].isin({"Praha", "Brno"})

In [ ]:
r1 = r1.rename({"2": "Sloupec_2"})

In [ ]:
r1 = r1[2].rename("rrrr")

In [ ]:
r1.columns

In [ ]:
vybrani_uzivatele_2

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
    ```python
    vyber_uzivatel = df_uzivatele.query("20 <= Age <= 22 and Email.str.contains('gmail.com')")

    df_uzivatele['Height_m'] = df_uzivatele.eval('Height_cm / 100')
    df_uzivatele['BMI'] = df_uzivatele.eval('Weight_kg / (Height_m * Height_m)').round(1)
    
    df_prodeje['weekday'] = df_prodeje.index.weekday
    average_weekday_sales = df_prodeje.groupby('weekday')['prodeje'].mean()
    
    df_uzivatele["City"] = df_uzivatele["Address"].apply(lambda x: x.split(",")[2])
    students_with_high_bmi = df_uzivatele.query('BMI > 22 and City in ["Brno", "Praha"]')
    ```
</details>

<br>

## Skuteƒçn√© datov√© sety

---

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.JJu86kKRph1LHt5M7agODQHaHa%26pid%3DApi&f=1&ipt=5cfb9e9f7b451b3a4f7a3ebdc4eb99177d477f20f8145cd818cc4966143f8b2b&ipo=images" width="160" style="margin-left:auto; margin-right:auto"/>

ƒåi≈°tƒõn√≠ dat je proces, kter√Ω pat≈ô√≠ k samotn√© pr√°ci s daty.

Spolu s nƒõkter√Ωmi souvisej√≠c√≠mi √∫kony, pat≈ô√≠ mezi ty v√≠ce frustruj√≠c√≠.

Nesmysln√© datov√© typy, zkomolen√© ƒçasov√© √∫daje, nefunguj√≠c√≠ transformace.

In [ ]:
from pandas import DataFrame

In [ ]:
df_uzivatele = DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [None, 20, None, 22, 23],
    'Height_cm': [160, 170, 175, None, 165],
    'Weight_kg': [50, 65, 70, 80, 55]
})

In [ ]:
df_uzivatele.head(3)

Ihned po naƒçten√≠ je nejlep≈°√≠ data prozkoumat.

Nejenom datov√© typy ale tak√© m√≠t povƒõdom√≠ **o chybƒõj√≠c√≠ch hodnot√°ch**:

In [ ]:
df_uzivatele.info()

<br>

Pomoc√≠ metody `info` si udƒõl√°≈° aspo≈à povrchn√≠ p≈ôehled o hodnot√°ch, datov√Ωch typech a chybƒõj√≠c√≠ch hodnot√°ch.

<br>

### Kolik mi chyb√≠ √∫daj≈Ø

---

V≈ædycky p≈ôistupuj k dat≈Øm s m√≠rnou skeps√≠.

Ot√°zkou potom nen√≠, *JESTLI* mi chyb√≠ data, ale *KOLIK* dat mi chyb√≠ **a kde**.

In [ ]:
chybejici_hodnoty = df_uzivatele.isnull()  # isna()

In [ ]:
chybejici_hodnoty

<br>

Pomoc√≠ metody `isnull` nahrad√≠≈° v≈°echny chybƒõj√≠c√≠ hodnoty v tabulce/sloupc√≠ch pomoc√≠ `True`.

Pokud nechyb√≠, nahrad√≠ s `False`.

In [ ]:
type(chybejici_hodnoty)

Takov√Ω v√Ωstup ale nen√≠ zcela reprezentativn√≠.

Proto je pot≈ôeba, seƒç√≠st v≈°echny `True` hodnoty po sloupc√≠ch:

In [ ]:
chybejici_hodnoty = df_uzivatele.isnull().sum()

In [ ]:
chybejici_hodnoty

<br>

Opƒõt v jednotk√°ch to nemus√≠ zcela prozrazovat chybovost.

Nejlep≈°√≠m indik√°torem ale b√Ωvaj√≠ **procenta z celkov√©ho mno≈æstv√≠ hodnot ve sloupci**:

In [ ]:
celkem_zaznamu = df_uzivatele.shape[0]  # 0 ... Indexy, 1 ... sloupce

In [ ]:
celkem_chybi = chybejici_hodnoty

In [ ]:
celkem_chybi

In [ ]:
v_procentech = round(celkem_chybi / celkem_zaznamu * 100, 1)

In [ ]:
v_procentech

<br>

p≈ô√≠padnƒõ celkov√© mno≈æstv√≠ z√°znam≈Ø ve v≈°ech sloupc√≠ch:

In [ ]:
vsechny_bunky = df_uzivatele.shape[0] * df_uzivatele.shape[1]  # 5 * 4

In [ ]:
vsechny_chybejici_hodnoty = chybejici_hodnoty.sum()            # 4

In [ ]:
celkem_v_procentech = round(vsechny_chybejici_hodnoty / vsechny_bunky * 100, 1)

In [ ]:
celkem_v_procentech

<br>

V t√©to uk√°zce tedy chyb√≠ 20 % dat a to nen√≠ m√°lo!

<br>

### Co s chybƒõj√≠c√≠mi hodnotami

---

Je d≈Øle≈æit√© vƒõdƒõt, proƒç m√°≈° takov√© mno≈æstv√≠ chybƒõj√≠c√≠ch hodnot.

Chyb√≠ ti data, proto≈æe neexistuj√≠, nebo proto≈æe nejsou souƒç√°st√≠ z√°znam≈Ø v datasetu.

V takov√Ωch kroc√≠ch je obvykle nutn√©, pochopit podstatu √∫daj≈Ø (dokumentace, specifikace,..).

Nejjednodu≈°≈°√≠ zp≈Øsoby, jak s chybƒõj√≠c√≠mi daty nalo≈æit (ale ne efektivn√≠!!):
1. Zahodit chybƒõj√≠c√≠ hodnoty,
2. doplnit chybƒõj√≠c√≠ hodnoty.

#### Zahodit chybƒõj√≠c√≠ hodnoty

In [ ]:
# df_uzivatele.dropna?

In [ ]:
df_uzivatele

In [ ]:
df_uzivatele.dropna()  # axis=0

<br>

V tento okam≈æik si zahod√≠≈° v≈°echny z√°znamy, kter√© **postr√°daly nƒõjakou hodnotu**.

Nƒõkdy je jednodu≈°≈°√≠ zahodit sloupeƒçek, kter√Ω m√° chybƒõj√≠c√≠ hodnotu:

In [ ]:
df_uzivatele.dropna(axis=1)

#### Doplnit automaticky hodnoty

In [ ]:
# df_uzivatele.fillna?

In [ ]:
df_uzivatele

In [ ]:
df_uzivatele.fillna(0)  # replace: "Nan" --> 0

<br>

Pomoc√≠ funkce `fillna` m≈Ø≈æe≈° vyplnit m√≠sto chybƒõj√≠c√≠ch hodnot p≈ôeddefinovanou vlastn√≠ hodnotu.

Nebo pomoc√≠ argumentu pro `method` pracovat s elegantnƒõj≈°√≠m zad√°n√≠m.

Nahradit chybƒõj√≠c√≠ hodnoty hodnotou, kter√° n√°sleduje bezprost≈ôednƒõ za n√≠ ve stejn√©m sloupci (To m√° velk√Ω smysl u soubor≈Ø dat, kde maj√≠ pozorov√°n√≠ nƒõjak√© logick√© po≈ôad√≠.)

In [ ]:
df_uzivatele

In [ ]:
df_uzivatele.fillna(method='bfill', axis=0)

In [ ]:
df_uzivatele.fillna(method='ffill', axis=0)

In [ ]:
df_uzivatele.fillna(method='ffill', axis=0).fillna(19)

## Encoding

---

Probl√©my s k√≥dov√°n√≠m jsou bƒõ≈æn√©.

Jde o proces, kter√Ω mapuje **bajtov√© stringy** (`0110101011`) na **u≈æivatelsky ƒçiteln√Ω text** (`"ahoj!"`).

Tento probl√©m nastane, pokud se sna≈æ√≠≈° naƒç√≠st zdroj v jin√© k√≥dovac√≠ sadƒõ, ne≈æ byl soubor zapsan√Ω.

<br>

Proto≈æe je tƒõchto sad hodnƒõ, obƒças skonƒç√≠≈° s *escapovan√Ωmi znaky*, nebo s nezn√°m√Ωmi kliky-h√°ky:

In [ ]:
√¶‚Äì‚Ä°√•

<br>

P≈ô√≠padnƒõ pokud nelze domapovat znaky:

ÔøΩÔøΩ

<br>

V **Pythonu 2** nebylo lehk√© *encoding* zajistit.

V **Pythonu 3** je cel√Ω proces o dost jednodu≈°≈°√≠.

Standardem pro pr√°ci b√Ωv√° obyƒçejnƒõ UTF-8. Na to ale zrovna v na≈°ich konƒçin√°ch nem≈Ø≈æe≈° spol√©hat.

In [ ]:
veta = "Matou≈° zaplatil 100 $"

In [ ]:
# veta?

<br>

√ödaj, kter√Ω vid√≠≈° v√Ω≈° je datov√Ω typ `str`.

In [ ]:
prevedena_veta = veta.encode("utf-8", errors="replace")

In [ ]:
prevedena_veta

In [ ]:
prevedena_veta?

<br>

D√°l je mo≈æn√©, p≈ôev√©st `str` na `bytes`. Tedy sekvenci ƒç√≠sel.

Jak ale teƒè tato sekvence vypad√°:

In [ ]:
prevedena_veta

<br>

Celou vƒõtu m≈Ø≈æe≈° zp√°tky k√≥dovat pomoc√≠ funkce `decode` z `bytes` na `str`:

In [ ]:
print(prevedena_veta.decode("utf-8"))

<br>

Pokud ale zvol√≠≈° jinou sadu, nemus√≠≈° dostat stejn√© hodnoty:

In [ ]:
print(prevedena_veta.decode("windows-1250"))

In [ ]:
print(prevedena_veta.decode("ascii"))

<br>

Toto a dal≈°√≠ ne√∫spƒõ≈°n√© postupy je samoz≈ôejmƒõ ≈°patnƒõ a ty se tomu chce≈° urƒçitƒõ vyhnout.

In [ ]:
from pandas import read_csv

In [ ]:
chybna_sada = read_csv("../exercises/lide.csv")

In [ ]:
chybna_sada

<br>

Ne v≈ædy je mo≈æn√©, defaultnƒõ pracovat se znakovou sadou **UTF-8**.

Ve v√Ωstupu je vidƒõt, ≈æe jde o smƒõs nƒõkolika sad a ty mus√≠≈° vyzkou≈°et, jak√° bude fungovat.

In [ ]:
import sys

In [ ]:
sys.getdefaultencoding()

In [ ]:
!pip install chardet

In [ ]:
from chardet.universaldetector import UniversalDetector

In [ ]:
detector = UniversalDetector()

In [ ]:
for line in open("../exercises/lide.csv", 'rb'):
    detector.feed(line)
    if detector.done:
        break

detector.close()
print(detector.result)

In [ ]:
csv_dataframe = read_csv("../exercises/lide.csv", sep=';', encoding='ascii')

In [ ]:
csv_dataframe

<br>

Pomoc√≠ knihovny `chardet` / `charset_normalizer` identifikuje≈°, o jak√© znakov√© sady jde:

Nyn√≠ m√°≈° lep≈°√≠ p≈ôedstavu o tom, jakou znakovou sadu soubor pou≈æ√≠v√°.

Opatrnƒõ na d√©lku `str`, kter√Ω detekuje≈°.

Pokud je p≈ô√≠li≈° kr√°tk√Ω, m≈Ø≈æe to ovlivnit v√Ωsledek.

Naopak pokud je p≈ô√≠li≈° dlouh√Ω, m≈Ø≈æe trvat jeho naƒçten√≠.

In [ ]:
spravna_sada = read_csv("neznamy_vzorek.csv", encoding="Windows-1252")

In [ ]:
spravna_sada.head()

In [ ]:
spravna_sada.info()

<br>

Tentokr√°t soubor otev≈ôe≈° pouze s varov√°n√≠m.

Pro p≈ô√≠≈°tƒõ je urƒçitƒõ v√Ωhodou vytvo≈ôit kopii takov√©ho souboru, kterou ulo≈æ√≠≈° v ide√°ln√≠m k√≥dov√°n√≠:

In [ ]:
spravna_sada.to_csv("kopie_sada_utf8.csv", encoding="utf-8")

In [ ]:
# pokus = read_<zdroj>("vzorek_2.csv")

In [ ]:
# vzorek = to_<zdroj>(...)

## Practice

---

In [1]:
data = {
    'name': ['Matous', 'Lukas'],
    'surname': ['Holinka', 'Holinka'],
    'age': [11, 12],
    'email': ['matous@holinka.cz', 'lukas.h@gmail.com']
}

In [10]:
# Create a new DataFrame object 'data_df' and add the column 'full_name'
from pandas import DataFrame

In [11]:
data_df = DataFrame(data)

In [12]:
data_df

     name  surname  age              email
0  Matous  Holinka   11  matous@holinka.cz
1   Lukas  Holinka   12  lukas.h@gmail.com

In [13]:
data_df['full_name'] = data_df['name'] + ' ' + data_df['surname']

In [29]:
data_df['phone']

KeyError: 'phone'

In [25]:
# User-defined function
def get_full_name(pandas_row):
    return f'{pandas_row.name} {pandas_row.surname}'

In [17]:
data_df['full_name_double'] = get_full_name(data_df)

In [26]:
data_df['full_name_double_double'] = data_df.apply(get_full_name, axis=1)

In [27]:
data_df

,name,surname,age,email,full_name,full_name_double,full_name_double_double
0,Matous,Holinka,11,matous@holinka.cz,Matous Holinka,Matous Holinka,Matous Holinka
1,Lukas,Holinka,12,lukas.h@gmail.com,Lukas Holinka,Lukas Holinka,Lukas Holinka

In [ ]:
# Create a CSV file

<br>

## Nekonzistentn√≠ data

---

Pokud ti data nechyb√≠, je≈°tƒõ neznamen√°, ≈æe mus√≠ b√Ωt nutnƒõ v po≈ô√°dku:

In [30]:
from pandas import DataFrame

In [31]:
chybny_dataset = {
    "id": [111, 112, 113, 114, 115, 116, 117],
    "jmeno": ["Matous", "Marek", "Petr", "Filip", "Jan", "Lukas", "David"],
    "vek": [22, 29, 31, 55, 43, 61, 55],
    "zeme": ["Ceska republika", "Slovensko", "Nemecko", "Ceskarepublika", "Ceska Republika", "Rakousko", "Ceska Reapublika"]
}

In [32]:
df_zamestnanci = DataFrame(chybny_dataset)

In [33]:
df_zamestnanci

    id   jmeno  vek              zeme
0  111  Matous   22   Ceska republika
1  112   Marek   29         Slovensko
2  113    Petr   31           Nemecko
3  114   Filip   55    Ceskarepublika
4  115     Jan   43   Ceska Republika
5  116   Lukas   61          Rakousko
6  117   David   55  Ceska Reapublika

R≈Øzn√© zdroje, spr√°vci m≈Ø≈æou zp≈Øsobit nejednotn√Ω z√°pis a dopustit se *nekonzistence*.

In [34]:
df_zamestnanci["zeme"].unique()

array(['Ceska republika', 'Slovensko', 'Nemecko', 'Ceskarepublika',
       'Ceska Republika', 'Rakousko', 'Ceska Reapublika'], dtype=object)

<br>

To m≈Ø≈æou b√Ωt jak mal√° velk√° p√≠smena, tak r≈Øzn√© znaky, chybƒõj√≠c√≠ mezery apod.

Odstranit je nen√≠ n√°roƒçn√©.

N√°roƒçn√© m≈Ø≈æe b√Ωt opƒõt rozpozn√°n√≠, takov√© komplikace.

In [35]:
df_zamestnanci["zeme"].str.lower().unique()

array(['ceska republika', 'slovensko', 'nemecko', 'ceskarepublika',
       'rakousko', 'ceska reapublika'], dtype=object)

<br>

Nƒõkter√© chyby, ale m≈Ø≈æou zp≈Øsobit paseku. T≈ôeba chybƒõj√≠c√≠ mezery.

Tady je nejlep≈°√≠, pomoci si vhodn√Ωm n√°strojem `fuzzywuzzy`.

In [36]:
!pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in /home/matous/projects/bnp_course/dev/lib/python3.8/site-packages (0.18.0)

In [37]:
import fuzzywuzzy
from fuzzywuzzy import process

/home/matous/projects/bnp_course/dev/lib/python3.8/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

Pro men≈°√≠ datasety s chybƒõj√≠c√≠mi mezerami aj., m≈Ø≈æe tato knihovna pracovat prakticky sama.

√öƒçel t√©to knihovny je rozpoznat podobn√© ≈ôetƒõzce, jak√©

In [38]:
df_zamestnanci["zeme"].str.lower().unique()

array(['ceska republika', 'slovensko', 'nemecko', 'ceskarepublika',
       'rakousko', 'ceska reapublika'], dtype=object)

In [41]:
shodne = fuzzywuzzy.process.extract(
    "Ceska republika",
    df_zamestnanci["zeme"],
    limit=6,
    scorer=fuzzywuzzy.fuzz.token_sort_ratio
)

In [44]:
# fuzzywuzzy.process.extract?

In [ ]:
df_zamestnanci["zeme"]

In [ ]:
df_zamestnanci["zeme"].unique()

In [47]:
shodne

[('Ceska republika', 100, 0),
 ('Ceska Republika', 100, 4),
 ('Ceskarepublika', 97, 3),
 ('Ceska Reapublika', 97, 6),
 ('Slovensko', 25, 1),
 ('Nemecko', 18, 2)]

Nyn√≠ m≈Ø≈æe≈° vidƒõt shodn√© `str` se zvolen√Ωm zad√°n√≠m, jak to vid√≠ `fuzzywuzzy`.

Pro nahrazen√≠ je optim√°ln√≠ nachystat vhodnou u≈æivatelskou funkci:

In [48]:
shodne

[('Ceska republika', 100, 0),
 ('Ceska Republika', 100, 4),
 ('Ceskarepublika', 97, 3),
 ('Ceska Reapublika', 97, 6),
 ('Slovensko', 25, 1),
 ('Nemecko', 18, 2)]

In [50]:
best_matches = list()

for country in shodne:
    if country[1] >= 80:
        best_matches.append(country)

In [51]:
best_matches

[('Ceska republika', 100, 0),
 ('Ceska Republika', 100, 4),
 ('Ceskarepublika', 97, 3),
 ('Ceska Reapublika', 97, 6)]

In [ ]:
nejblizsi_shoda = [shoda[0] for shoda in shodne if shoda[1] >= 90]

In [53]:
shodujici_udaje = df_zamestnanci["zeme"].isin(best_matches)  # membership testing

In [54]:
shodujici_udaje

0    False
1    False
2    False
3    False
4    False
5    False
6    False
Name: zeme, dtype: bool

In [ ]:
df_zamestnanci

In [55]:
df_zamestnanci.loc[shodujici_udaje, "zeme"]

Series([], Name: zeme, dtype: object)

In [56]:
vysledek = df_zamestnanci.loc[shodujici_udaje, "zeme"] = "Ceska republika"

In [57]:
df_zamestnanci

    id   jmeno  vek              zeme
0  111  Matous   22   Ceska republika
1  112   Marek   29         Slovensko
2  113    Petr   31           Nemecko
3  114   Filip   55    Ceskarepublika
4  115     Jan   43   Ceska Republika
5  116   Lukas   61          Rakousko
6  117   David   55  Ceska Reapublika

In [61]:
a = set(['aa', 'bb', 'cc'])
b = set(['aa', 'ba', 'ca'])

In [63]:
print(b.difference(a))

{'ca', 'ba'}

In [58]:
def nahrad_shody_stringem(dframe, jmeno_sloupce, vzor, min_shoda=90):
    
    vsechny_stringy = dframe[jmeno_sloupce].unique()
    
    shody = fuzzywuzzy.process.extract(vzor, vsechny_stringy, limit=5,
                                       scorer=fuzzywuzzy.fuzz.token_sort_ratio)
    
    nejblizsi_shoda = [shoda [0] for shoda in shody if shoda[1] >= min_shoda]
    
    shodujici_zaznam = dframe[jmeno_sloupce].isin(nejblizsi_shoda)
    
    dframe.loc[shodujici_zaznam, jmeno_sloupce] = vzor

In [59]:
nahrad_shody_stringem(dframe=df_zamestnanci,
                      jmeno_sloupce="zeme",
                      vzor="Ceska republika")

In [60]:
df_zamestnanci

    id   jmeno  vek             zeme
0  111  Matous   22  Ceska republika
1  112   Marek   29        Slovensko
2  113    Petr   31          Nemecko
3  114   Filip   55  Ceska republika
4  115     Jan   43  Ceska republika
5  116   Lukas   61         Rakousko
6  117   David   55  Ceska republika

<br>

#### **üß† CVIƒåEN√ç üß†, procviƒç si ƒçasov√© ≈ôady**

1. **Vytvo≈ôen√≠ ƒçasov√© ≈ôady**: Pomoc√≠ funkce `date_range`, vytvo≈ôte ƒçasovou ≈ôadu od **1. ledna 2024** do **31. prosince 2024** s frekvenc√≠ jeden den,

*~Create a Time Series: Using the date_range function, create a time series starting from January 1, 2023, to December 31, 2023, with a daily frequency.*

2. **Transformace ≈ôady:** Konvertujte list string≈Ø reprezentuj√≠c√≠ch r≈Øzn√© form√°ty datum≈Ø (nap≈ô. `['2023-01-01', '2023-02-01', '2023-03-15']`) na objekty datetime pomoc√≠ `to_datetime`.

*~Transform Series: Convert a list of strings representing dates in various formats (e.g., '2023-01-01', '1 Feb 2023', '03/15/2023') into datetime objects using to_datetime.*

3. **Zmƒõna frekvence:** Pou≈æijte metodu `resample` na p≈Øvodn√≠ ƒçasovou ≈ôadu, abyste zmƒõnili frekvenci na mƒõs√≠ƒçn√≠,

*~Frequency Modification: Apply the resample method to the original time series to change the frequency to monthly*

4. **Anal√Ωza:** Vyberte a zobrazte pouze ty daty, kter√© odpov√≠daj√≠ zaƒç√°tku ka≈æd√©ho ƒçtvrtlet√≠.

*~Analysis: Select and display only the dates that correspond to the beginning of each quarter.*

In [64]:
import pandas as pd
import numpy as np

In [74]:
daily_dates = pd.date_range(start='2024/01/01', end='2024/12/31', freq='D')

In [75]:
daily_dates

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10',
               ...
               '2024-12-22', '2024-12-23', '2024-12-24', '2024-12-25',
               '2024-12-26', '2024-12-27', '2024-12-28', '2024-12-29',
               '2024-12-30', '2024-12-31'],
              dtype='datetime64[ns]', length=366, freq='D')

In [71]:
# pd.date_range?

In [76]:
date_strings = ['2023-01-01', '2023-02-01', '2023-03-15']

In [77]:
date_datetimes = pd.to_datetime(date_strings, format='%Y-%m-%d')

In [78]:
date_datetimes

DatetimeIndex(['2023-01-01', '2023-02-01', '2023-03-15'], dtype='datetime64[ns]', freq=None)

In [79]:
daily_sales_data = np.random.randint(10, 100, size=(len(daily_dates),))

In [80]:
daily_sales_df = DataFrame({'Date': daily_dates, 'Sales': daily_sales_data})

In [81]:
daily_sales_df.head()

        Date  Sales
0 2024-01-01     24
1 2024-01-02     52
2 2024-01-03     36
3 2024-01-04     70
4 2024-01-05     72

In [83]:
daily_sales_df.set_index('Date', inplace=True)

In [85]:
daily_sales_df

            Sales
Date
2024-01-01     24
2024-01-02     52
2024-01-03     36
2024-01-04     70
2024-01-05     72
...           ...
2024-12-27     15
2024-12-28     97
2024-12-29     68
2024-12-30     25
2024-12-31     12

[366 rows x 1 columns]

In [86]:
monthly_series = daily_sales_df.resample('M').sum()

In [87]:
monthly_series

            Sales
Date
2024-01-31   1558
2024-02-29   1690
2024-03-31   1652
2024-04-30   1824
2024-05-31   1848
2024-06-30   1617
2024-07-31   1882
2024-08-31   1596
2024-09-30   1567
2024-10-31   1687
2024-11-30   1624
2024-12-31   1414

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
import pandas as pd
import numpy as np

daily_series = pd.date_range(start='2023-01-01', end='2023-12-31', freq='D')
daily_sales_data = np.random.randint(10, 100, size=(len(daily_series),))
daily_sales_df = DataFrame({'Date': daily_series, 'Sales': daily_sales_data})
print(daily_sales_df)

date_strings = ['2023-01-01', '2023-02-01', '2023-03-15']
datetime_objects = pd.to_datetime(date_strings, format='%Y-%m-%d')
print(datetime_objects)

daily_sales_df = DataFrame({'Date': daily_series, 'Sales': daily_sales_data})
daily_sales_df.set_index('Date', inplace=True)
monthly_series = daily_sales_df.resample('M').sum()

quarterly_start = daily_sales_df[daily_sales_df.index.month.isin([1, 4, 7, 10])]
print(quarterly_start)
```
</details>

<br>

#### **üß† CVIƒåEN√ç üß†, procviƒç si pr√°ci s chybn√Ωm datasetem**

Analyzuj prodeje produktu ve fiktivn√≠ spoleƒçnosti bƒõhem jednoho roku a zjisti n√°sleduj√≠c√≠:

*Analyze the sales of a product in a fictitious company over a year and find out the following*

<br>

1. Nahraj soubor do `DataFrame`, jm√©no souboru `cviceni_3.csv` (spr√°vn√Ω encoding, spr√°vn√© rozdƒõlen√≠), *~Upload the file to DataFrame, file name cviceni_3.csv (correct encoding, correct distribution),*

<br>

2. projdi sloupce, zkontroluj, kde je probl√©m s daty, *~go through the columns, check where the problem is with the data,*

<br>

3. vypi≈° v≈°echny z√°znamy, kter√© maj√≠ ve sloupci `mesto` hodnotu `Praha`. *~list all records that have the value Prague in the city column.*

In [ ]:
from pandas import read_csv

In [ ]:
cviceni_3_df = read_csv("../exercises/cviceni_3.csv")  # ??? Doplnit del≈°√≠ zdr. soubor (fce Download)

In [ ]:
import pandas
# import re
import fuzzywuzzy
from fuzzywuzzy import process

<details>
    <summary>‚ñ∂Ô∏è ≈òe≈°en√≠</summary>
    
```python
df_ukazka = read_csv("cviceni_3.csv", encoding="Windows-1250", delimiter=";")

def nahrad_shody_stringem(df, vzor, vyber, min_shoda=85):
    shody = fuzzywuzzy.process.extract(vzor, vyber, limit=20,
                                       scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    nejblizsi_shoda = [shoda[0] for shoda in shody if shoda[1] >= min_shoda]

    shodujici_zaznam = vyber.isin(nejblizsi_shoda)
    df.loc[shodujici_zaznam, "mesto"] = vzor
    
nahrad_shody_stringem(df_ukazka, "Praha", df_ukazka["mesto"])
vystup = df_ukazka[df_ukazka["mesto"] == "Praha"]


# data = pd.read_csv(
    # 'C:\\Users\\je97214\\Desktop\\cviceni_3.csv',
    # encoding = 'cp1250',
    # sep = ';'
# )

# def nahrad_shody_stringem(dframe, sloupec, vzor, min_shoda=60):
#     vsechny_stringy = dframe[sloupec].unique()
#     shody = fuzzywuzzy.process.extract(vzor, vsechny_stringy, limit=5, scorer=fuzzywuzzy.fuzz.token_sort_ratio)
#     nejblizsi_shoda = [shoda [0] for shoda in shody if shoda[1] >= min_shoda]
#     shodujici_zaznam = dframe[sloupec].isin(nejblizsi_shoda)
#     dframe.loc[shodujici_zaznam, sloupec] = vzor

# print( 'Probl√©my s daty:' )
# display( data[~data['narozeni'].str.contains('\\d{1,2}/\\d{1,2}/\\d{4}', regex= True, na=False)] )
# display( data['mesto'].unique( ) )

#oprava narozen√≠
# data['narozeni'] = data['narozeni'].astype( 'datetime64' )
# #oprava mƒõsta
# nahrad_shody_stringem(dframe=data, sloupec="mesto", vzor="Praha")
# print( 'V√Ωsledek:' )
# data.query( "mesto == 'Praha'" )
```
</details>

---